/* COULEUR */
:root { 
	--couleurPrincipale: hsl(123, 10%, 44%);
	--couleursecondaire: hsl(301, 100%, 50%);
}
body {
	font-family: system-ui;
	/* background: var(--couleurPrincipale);
	color: color-mix(in srgb, var(--couleurPrincipale) 10%, white 100%); */

}

h1 {
	font-size: 8vw;
}